*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

body,html{
    background-color: black;
}


h1{
    color: yellow;
    text-align: center;
    margin: 50px;
}


.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ul22{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}

a{
    color: white;
    text-decoration: none;
}

.nav22 img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.nav22 li{
    margin: 0 15px;
}

.nav22{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
}

input{
    width: 40%;
    height: 30px;
    border: 1px solid black;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
}



.grid-container{
    background-color: black;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    margin: 100px;
}


.grid-container > div{
    background-color: green;
    color: white;
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    position: relative;
}

.grid-container img{
    height: 300px;
    
    display: flex;
}